

body{
    background-color: hsl(216, 12%, 8%);
    /* width: 1440px; */
}
.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-1{
    background-color: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 100%);
    max-width: 350px;
    width: 90%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    font-family: 'Overpass',
    sans-serif;
    padding: 10px;
}
.second-container {
    background-color: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 100%);
    max-width: 350px;
    width: 80%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    font-family: 'Overpass',
    sans-serif;
    padding: 10px;
    display: none;
}
img{
    display: block;
    background-color: #fff;
    width: ;
    padding: 15px;
    border-radius: 25px ;
    margin: 12px 20px;
    background-color: rgb(27, 34, 44);
}
h2{
    margin: 12px 20px;
}
p{
    margin: 12px 20px;
    color: hsl(217, 12%, 63%);
}
.main-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 20px;
}
.btns{
    color: hsl(217, 12%, 63%);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
    background-color: rgb(27, 34, 44);
}
.btns:hover{
    background-color:hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}
.sub-btn{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    margin: 12px 20px;
    padding:  15px;
    border-radius: 25px;
    border: none;
}
.sub-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.second-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ty-image{
    background: none;
    display: block;
    margin: 15px auto;
}
.pick-text{
    background-color: rgb(27, 34, 44);
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}


.show-color{
    color: hsl(0, 0%, 100%);
    background-Color: hsl(25, 97%, 53%);
}
.show-typage .second-container{
    /* display: contents; */
    display: inline;
    z-index: 10;
}
.show-typage .container-1{
     display: none;
}
@media (max-width:450px) {
    .container{
        height: auto;
    }
    .btns:hover {
        background-color: hsl(25, 97%, 53%);
    }
}